mixin _(txt1, txt2= " ")
    if lang === "en"
        if txt2 !== " "
            | #{txt2}
        else
            | #{txt1}
    else
        | #{txt1}
mixin imagetext(object,title,date)
    .cards__text
        a(href= "#" class="title")
            p= object 
        a(href= "#" class="text-decoration-none")
            h3= title
        p.details 
            a(href= "#") ketan
                span.dott
            span.time= date
mixin info(object,date,title,para)
    a(href="#" class="title")
        p=object
    .post__content
        .head 
            img(src="../../assets/images/avatar-lg.png")
            p.details
                a(href= "#") ketan doe
                    span.dott
                span.time= date
        a(href="#")
            h3(class="fw-bold mt-4 mb-3" )=title 
        p The European languages are members of the same family. Their separate existence is a myth. For science, music, sport, etc,…
        .bottom
            a.widget(href="#") 
                i(class="fa-solid fa-share-nodes")
            +social
            button 
                i(class="fa-solid fa-ellipsis")
mixin abouthead(title)
    .post-header
        h2=title
        <svg  width="33" height="6" xmlns="http://www.w3.org/2000/svg">
        <defs>
        <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="0%">
        <stop offset="0%" stop-color="#FE4F70"></stop>
        <stop offset="100%" stop-color="#FFA387"></stop>
        </linearGradient>
        </defs>
        <path d="M33 1c-3.3 0-3.3 4-6.598 4C23.1 5 23.1 1 19.8 1c-3.3 0-3.3 4-6.599 4-3.3 0-3.3-4-6.6-4S3.303 5 0 5" stroke="url(#gradient)" stroke-width="2" fill="none"></path>
        </svg>
mixin aboutbody(title,date)
    .popular__item__text
        a(href="#") 
            h3=title
        span= date
mixin topic(title,num)
    .topics__title
        a(href="#" class="text-decoration-none d-flex align-items-center")
            i(class="fa-solid fa-chevron-right")
            h3(class="text-capitalize")=title
        span=num
mixin social
    ul.social
        li: a(href="#")
            i(class="fa-brands fa-facebook-f")
        li: a(href="#")
            i(class="fa-brands fa-twitter")
        li: a(href="#")
            i(class="fa-brands fa-instagram")
        li: a(href="#")
            i(class="fa-brands fa-pinterest")
        li: a(href="#")
            i(class="fa-brands fa-tiktok")
        li: a(href="#")
            i(class="fa-brands fa-youtube")       